@import url('https://fonts.cdnfonts.com/css/marhey');

body {
	font-family: 'Marhey', sans-serif;
}

.container {
	position: relative;
}

.vertical-line {
	position: absolute;
	height: 35%;
	top: 8%;
}

#betweenDivs {
	background: rgb(0 0 0 / 35%);
    background-image: none;
	position: absolute;
	/*height: 94%;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.centered {
	position: absolute;
	top: 45%;
	width: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	position: relative;
	margin-top: 13%;
	left: 4%;
	font-size: 16;
	color:white;
	text-shadow: 0px 3px 5px black; 
}

h1 {
	color:rgb(255, 255, 255);
	position: absolute;
	font-size: 45;
	left: 3%;
	margin: 0;
	text-shadow: 0px 5px 5px black; 
}