@import url('https://fonts.cdnfonts.com/css/marhey');

body {
    margin: 0;
    padding: 0;
    font-family: 'Marhey', sans-serif;
    background-color: #884511;/*rgb(62, 74, 49);*/
    overflow: hidden;
}
#menuType {
    width: 100%;
    height: 100%;
    background-color: rgba(131, 143, 117, 0.25);
    position: absolute;
    padding-top: 1%;
    text-align: center;
}
.menulinks {
    position: relative;
    padding: 15px 30px;
    display: inline;
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: large;
    font-weight: 700;
}

.menulinks:hover {
    background-color: rgba(131, 143, 117, 0.27);
    font-size: larger;
}

.menulinks:active {
    background-color: rgba(131, 143, 117, 0.712);
    transform: translateY(2px);
    box-shadow: 0 2px rgba(165, 173, 155, 0.712);
}