@import url('https://fonts.cdnfonts.com/css/marhey');

body {
    margin-left: 0;
    margin-top: 10%;
    font-family: 'Marhey', sans-serif;
    background-color: #eb8e0d;
    overflow: hidden;
}

.menulinks {
    padding: 10% 0%;
    padding-left: 10%;
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: large;
    font-weight: 700;
}

.menulinks:hover {
    background-color: #f8b65988;
    font-size: larger;
}

.menulinks:active {
    background-color: #f8b65988;
    transform: translateY(2px);
    box-shadow: 0 2px #63482388;
}