@import url('https://fonts.cdnfonts.com/css/marhey');
@import url('https://fonts.cdnfonts.com/css/kotra');

body {
    margin: 0;
    padding: 0;
    font-family: 'Marhey', sans-serif;
}

#Icon {
    width: 15%;
    background-color: rgba(131, 143, 117, 0.32);
    position: relative;
    text-align: center;
    padding-bottom: 1%;
}

#Icon img {
    width: 40%;
    height: 40%;
    position: relative;
    margin-top: 9%;
}

#Icon p {
    font-family: 'Kotra', sans-serif;
    color: #a66f3d;
    margin: 0;
    font-size: medium;
    font-weight: 600;
    position: absolute;
    top: 70%;
    left: 25%;
    text-shadow: -1px -1px 0 #fff,  
                  1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                  1px  1px 0 #fff;
}

#betweenDivs {
    background-image: none;
	position: absolute;
	/*height: 94%;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#homeImgID {
    width: 100%;
    height: 100%;
    background-image: url("../Images/homeImage/img3.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

#menuType {
    width: 15%;
    padding-top: 5%;
    background-color: rgba(131, 143, 117, 0.25);
    position: relative;
}

.menulinks {
    position: relative;
    padding-top: 20%;
    padding: 15px 30px;
    display: block;
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: larger;
}

.menulinks:hover {
    background-color: rgba(131, 143, 117, 0.712);
    font-size: x-large;
}

.menulinks:active {
    background-color: rgba(131, 143, 117, 0.712);
    transform: translateY(2px);
    box-shadow: 0 2px rgba(165, 173, 155, 0.712);
}

#quizImgID h1 {
    position: relative;
    left: 4%;
    top: 55%;
    font-size: 40px;
    font-weight: 700;
}

#quizImgID p {
    position: relative;
    left: 33%;
    width: 65%;
    bottom: 20%;
    font-size: 20px;
    font-weight: 500;
}

#quizImgID {
    background-color: rgba(198, 221, 171, 0.103);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 100%;
    text-align: left;
    color: #3c422c;
}

.footer {
    width: 100%;
    margin-top: 45%;
    background-color: #3c422c;
    position: relative;
    text-align: center;
}

.between {
    width: 100%;
    height: 2%;
    top: 98%;
    background-color: rgba(131, 143, 117, 0.25);
    position: absolute;
    text-align: center;
}

.footer a{
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: small;
}


