@import url('https://fonts.cdnfonts.com/css/marhey');

body {
    margin-left: 0;
    margin-top: 24%;
    font-family: 'Marhey', sans-serif;
    overflow: hidden;
}

.menulinks {
    padding: 10% 0%;
    padding-left: 10%;
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: large;
    font-weight: 700;
}

.menulinks:hover {
    font-size: larger;
}

.menulinks:active {
    transform: translateY(2px);
}