td{
	color:yellow;
	text-shadow: 1px 1px 5px black; 
	font-weight: bold;
	font-size: medium;
	text-align: left;
	width:20%
	
}

li {
	font-size: x-large;
	color:green;
}

body{
	background-image: url(../Images/quiz/quiz7.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
}

button {
	background-color: #c48d3f;
}
