@import url('https://fonts.cdnfonts.com/css/marhey');

body {
    margin-left: 0;
    margin-top: 15%;
    font-family: 'Marhey', sans-serif;
    background-color: rgb(127,255,116);/*rgb(000, 000, 000);*/
    overflow: hidden;
}

.menulinks {
    padding: 10% 0%;
    padding-left: 10%;
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    color: rgb(85,77,64);
    font-size: large;
    font-weight: 700;
}

.menulinks:hover {
    background-color: rgba(193,255,106, 0.712);
    font-size: larger;
}

.menulinks:active {
    background-color: rgba(193,255,106, 0.712);
    transform: translateY(2px);
    box-shadow: 0 2px rgba(217,255,107, 0.712);
}